
        <p><h2 style="color:#FFFF00"><%= @question.id %>번 글을 수정할 화면입니다.</h2></p>
        <form action="/questions/update/<%= @question.id %>" method="post">
            <h6 style="color:#808080">작성자: <input type="text" name="input_title" value="<%= @question.title %>"></h6>
            <h6 style="color:#808080">내용: <textarea class="form-control" id="exampleTextarea" rows="3" name="input_content" value="<%= @question.content %>"></textarea></h6>
            <center><button type="submit" class="btn btn-outline-warning">수정하기</button></center>
        </form>




