<body style="color:#FFFF00">
    <p><h2>게시판</h2></p>
    
    
    <button class="btn btn-outline-warning" type="submit"><a href="/users/sign_out">로그아웃</a></button>
    
    
    <p><h3><a href="/questions/new"><button type="button" class="btn btn-info">새 글 작성하기</button></a></h3></p>
    
    <%@questions.each do |q| %>
       <h3><a href="/questions/show/<%= q.id %>"><%= q.id %>번/ 작성자: <%= q.title %></a></h3>
    <% end %>
</body>