<html>
    <head>
        
    </head>
    
    <body>

        <p><center><h2 style="color:#FFFF00">글쓰기</h2></center><br></p>
        <form action="/questions/create" method="post">
            <input type="text" class="form-control" name="input_title" placeholder='작성자'><br>
            
            <textarea class="form-control" id="exampleTextarea" rows="3" name="input_content" placeholder='내용'></textarea><br>
            
            <center><button type="submit" class="btn btn-outline-info">제출하기</button></center>
        </form>
        
    </body>
</html>