<html>
    <head>
        
    </head>
    
    <body style = "background-image: url(https://68.media.tumblr.com/d2ca78034555bb83754441989f36efee/tumblr_o1u5i6lwSX1tf8vylo1_1280.png)">

        <p><center><h2>물어봐</h2></center><br></p>
        <form action="/questions/create" method="post">
            <input type="text" class="form-control" name="input_title" placeholder='이름'><br>
            
            <textarea class="form-control" id="exampleTextarea" rows="3" name="input_content" placeholder='궁금한 것은?'></textarea><br>
            
            <center><button type="submit" class="btn btn-outline-info">질문하기</button></center>
            
        </form>
    </body>
</html>