html, body{
    margin: 0;
    padding: 0;
    height: 95.2%;
    background-size: cover;
    background-image: url(http://cfile1.uf.tistory.com/image/172D074E50AE51DD2685CB);
    color: white;

}

nav{
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: white;
}

#wrap{
    height: 100%;
    margin: 0 0 -100px 0;
}

footer{
    width: 100%;
    text-align: center;
    height: 100px;
    padding: 15px;
    background-color: white;
}

ul{
    list-style-type: none;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

li{
    float: left;
}

p{
    color:#808080;
}